.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #DC983C;
  padding: 20px;
  color: white;
}

.App-header h1 {
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.homepage-text-field {
  margin-top: 20px !important;
  width: 25%
}

.homepage-button {
  background-color: #DC983C !important;
  color: #fff !important;
}

.App .form-control {
  width: 90%;
  margin: 5px;
  text-align: left;
}

.App .form-control [role=radiogroup] {
  flex-direction: row;
}

.App .form-control [role=radiogroup] .options {
  margin-left: 0px;
}

.App .form-control [role=radiogroup] .options span:first-child {
  width: 26px;
}
.social-label {
  text-align: center;
}
.social-logo {
  width: 30px;
}

.choose-place thead, .choose-place tfoot {
  color: #fff;
  background-color: #DC983C;
}

.choosen-place {
  max-width: 400px;
  margin-bottom: 10px;
  margin-top: 5px;
}
dl:after {content:"";display:table;clear:both;}
dd {
  padding: .5em 0;
}
dt, dd {
  display: inline-block;
}
dt {
  width: 30%;
  font-weight: bold;
  text-align: right;
}
dd {
  width: 40%;
  padding-left: 1em;
  text-align: left;
}

.confirm-account {
  margin-top: 50px;
}

.App .friends h2 {
  text-align: left;
}

/* New styles */
.homepage-button {
  font-size: 1rem !important;
  width: 90%;
}